@use "./base" as constants;
$clockDiam: constants.$clockDiam;
@keyframes onLoadClock {
	from {
		opacity: 0;
		transform: scale(80%);
		width: $clockDiam * 0;
		height: $clockDiam * 0;
		overflow: hidden;
	}
	25% {
		opacity: 1;
		transform: scale(80%);
		width: $clockDiam * 0.15;
		height: $clockDiam * 0.15;
		overflow: hidden;
	}

	35% {
		opacity: 1;
		width: $clockDiam * 0.25;
		height: $clockDiam * 0.25;
		overflow: hidden;
	}
	99% {
		overflow: hidden;
	}
	to {
		opacity: 1;
		transform: scale(100%);
		width: $clockDiam;
		height: $clockDiam;
		overflow: visible;
	}
}

@keyframes onLoadClock__markerDelay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.clock {
	width: $clockDiam;
	height: $clockDiam;
	position: relative;

	border-radius: 100%;
	box-shadow: inset 2px 2px 20px 2px hsl(var(--hue), 50%, 50%);
	transition: all 1s ease;

	//
	opacity: 0;
	transform: scale(0%);
	animation: onLoadClock 1.5s ease-out forwards;
	//

	@media (hover: hover) {
		&:hover {
			& .marker {
				width: fit-content;
				text-wrap: nowrap;

				left: 50%;
				transform: translate(-50%, -50%);

				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
				border-right-width: 3px;
				animation: onLoadClock__markerDelay 1.5s ease forwards 1s;

				opacity: 0;
				color: #eee;
				background-color: #5555;
				& > * {
					opacity: 1;
				}
			}

			& .time-grid {
				filter: blur(5px);
			}
		}
	}
}
